defmodule <%= @handler_module %>Test do
  use Alice.HandlerCase, handlers: <%= @handler_module %>

  test "the repeat command repeats a term" do
    send_message("<@alice> repeat after me: this is a boring handler")

    assert first_reply() == "you said, 'this is a boring handler'"
  end

  test "the repeat route repeats a term" do
    send_message("repeat after me this is a boring handler")

    assert first_reply() == "you said, 'this is a boring handler'"
  end
end
